<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        </a>
      </div> 
    <a class="navbar-brand" href="#">CCIAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<header>
    <div class = "container" id = "nav-container">
        <nav class = "navbar navbar-expand-lg fixed-top">
            <a href="" class = "navbar-brand">
                <img class="logo" src= "https://www5.pmfi.pr.gov.br/images/logo.png" alt="logo-prefeitura"> CCIAR
            </a>
            <button class = "navbar-toggler" type="button" data-toggle = "collapse" data-target=" #navbar-links" aria-controls = "navbar-links" aria-expanded = "false" aria-label="Toggle navigation"><span class = "navbar-toggler-icon"></span></button>
            <div class = "collapse navbar-collapse jusitfy-content end" id="navbar-links">
                <div class = "navbar-nav">
                    <a class="nav-item nav-link" id = "home-menu">Inicio</a>
                    <a class="nav-item nav-link" id = "agenda-menu">Agenda</a>
                    <a class="nav-item nav-link" id = "admin-menu">Admin</a>
                </div>
            </div>
        </nav>       
    </div>
</header>